.page{
    min-width: 1100px;
    max-width: 1600px;
    font-family: "Inter", Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    margin:auto; 
}
.header{
    background-color: #ffffff;
    background-image: url(/web_project_coffeeshop/images/background_header.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    min-height: 720px;
    max-height: 800px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.header__image{
    height: 646px;
    width: 568px;
    position: absolute;
    top: 124px;
    right: 5px;
}
.nav{
    display: flex;
    justify-content: space-between;
}
.nav__links{
    display: flex;
    margin-right: 80px;
    margin-top: 30px;
    column-gap: 20px;
    list-style-type: none;
}
.nav__logo{
    height: 39px;
    width: 105px;
    top: 30px;
    left: 30px;
    display: flex;
    position: relative;
    margin-bottom: 183px;
}
.nav__link{
    font-family: "Inter", Arial, Sans-serif;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}
.nav_link:hover{
    color: #2f80ed;
}
.header__title {
    display: flex;
    flex-direction: column;
    max-width: 709px;
    margin-bottom: 0;
    left: 80px;
    position: relative;
    font-family: "Inter", Arial, Sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 58px;
    line-height: 72px;
    letter-spacing: -1px;
}
.header__span-accent {
    color: #2f80ed;
    font-family: "Noto Serif", "Times New Roman", serif;
    font-style: italic;
    font-weight: normal;
    font-size: 58px;
    line-height: 72px;
}
.header__description{
    display: flex;
    flex-direction: column;
    position: relative;
    font-family: "Noto Serif", Times, Sans-Serif;
    font-size: 20px;
    line-height: 30px;
    max-width: 683px;
    margin-top: 28px;
    margin-left: 80px;
    font-style: normal;
    font-weight: normal;
}
.header__footer{
    font-family: "Inter", Arial, Sans-Serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #838383;
}
.header__time{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 80px;
    bottom: 40px;
}
.header__paragraph{
    margin: 0;
}
.header__address{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 80px;
    bottom: 40px;
}
.recipes {
    position: relative;
    padding: 100px 80px 215px;
    background-color: #0a2850;
    color: #fff;
    min-height: 720px;
    box-sizing: border-box;
    z-index: 2;
}
.recipes__title{
    font-family: "Inter", Arial, Sans-Serif;
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    max-width: 580px;
    top: 100px;
    left: 80px;
    bottom: 24px;
}
.recipes__subtitle{
    font-family: "Noto Serif", Times, Sans-Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    max-width: 438px;
    margin: 0;
}
.recipes__video-caption{
    font-family: "Inter", Arial, Sans-Serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}
.recipes__image{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center;
}
.recipes__videos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    margin-top: 80px;
}
.recipes__video-item{
    width: 480px;
    height: 273px;
}
.recipes__iframe {
    width: 100%;
    height: 273px;
    border: none;
    margin-bottom: 24px;
}
.recipes__video-caption {
    display: flex;
    justify-content: space-between;
    font-family: "Inter", Arial, sans-serif;
    line-height: 30px;
    color: #fff;
    font-size: 20px;
    margin: 0;
}
.recipes__video-caption span {
    display: block;
}

.reservation{
    color: #000000;
    background-color: #d9e7ff;
    background-image: url(/web_project_coffeeshop/images/background_reservation.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}
.reservation__title {
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    text-align: center;
    margin: 0px auto 80px;
}
.form__fieldset {
    display: flex;
    flex-direction: column;
    border-style: none;
    padding: 0;
}
.form__reservation{
    max-width: 385px;
    padding: 0;
    margin: 0;
    margin-bottom: 120px;
}
.form__input{
    height: 60px;
    margin-bottom: 32px;
    box-sizing: border-box;
    width: 100%;
    padding: 15px 20px;
    font-size: 20px;
    line-height: 30px;
}
.form__label{
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 20px;
}
.reservation__button{
    border-style: none;
    margin: 0;
    padding: 0;
}
.form__button{
    border-radius: 4px;
    border-style: none;
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    color: #ffffff;
    background-color:#2f80ed;
    max-width: 385px;
    margin-bottom: 32px;
    font-size: 16px;
    line-height: 20px;
}
.form__button:hover{
    opacity: 70%;
}
.form__footer {
    -webkit-appearance: none;
    appearance: none;
    border-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form__checkbox {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border: 1px solid #ccc;
}

.form__checkbox:checked {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: #2f80ed;
    background-image: url(/web_project_coffeeshop/images/check.svg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.form__label-footer {
    margin: 0;
    margin-left: 12px;
}